<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css')}}">
    <title>Assignment. Calculation methods.</title>
</head>
<body>
    <div class="container main">
        <h1>Assignment. Calculation methods.</h1>
        <form action="/get_plots" method="get">
            <label for="x_init">Initial x</label>
            <input class="form-control" type="text" name="x_init" placeholder="Initial x" id="x_init" value="1.0">
            <br>
            <label for="y_init">Initial y</label>
            <input class="form-control" type="text" name="y_init" placeholder="Initial y" id="y_init" value="1.0">
            <br>
            <label for="X">End x</label>
            <input class="form-control" type="text" name="X" placeholder="End x" id="X" value="10.0">
            <br>
            <label for="h">Size of step</label>
            <input class="form-control" type="text" name="h" placeholder="Size of step" id="h" value="0.1">
            <br>
            <label for="n">n</label>
            <input class="form-control" type="text" name="n" placeholder="n" id="n" value="1">
            <br>
            <label for="N">N</label>
            <input class="form-control" type="text" name="N" placeholder="N" id="N" value="100">
            <br>
            <input class="form-control" type="submit" value="Calculate">
        </form>
    </div>
</body>
</html>