<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css')}}">
    <title>Graphs</title>
</head>
<body>
    <div class="container main">
        <a href="/" class="btn">Back</a>
        <h1>Assignment. Calculation methods.</h1>
        <div class="row">
            <div class="col-6">
                {{ euler | safe}}
            </div>
            <div class="col-6">
                {{ euler_error | safe }}
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                {{ imp_euler | safe}}
            </div>
            <div class="col-6">
                {{ imp_euler_error | safe}}
            </div>
        </div>

        <div class="row">
            <div class="col-6">
                {{ runge_kutta | safe }}
            </div>
            <div class="col-6">
                {{ runge_kutta_error | safe }}
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                {{ total_error | safe }}
            </div>
        </div>
    </div>
</body>
</html>